Repository hrdaya/Next.js: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

biome-check:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

type-check:
  run: pnpm tsc --noEmit

削除したはずのファイルが復活していたので削除
  src/features/top/components/SignIn.tsx
  src/features/top/components/index.ts
  src/features/top/pages/HomePage.tsx
  src/lib/auth/AuthProvider.tsx
  src/lib/auth/authServerApi.ts
Due: biome-check, type-check

i18n-allyでファイルを分割したときの設定を追加
  .vscode/settings.json
Due: biome-check

認証周りの整理
  .env.example
  .github/.instructions.md
  README.md
  src/app/api/auth/me/route.ts
  src/app/api/auth/signin/route.ts
  src/app/api/auth/signout/route.ts
  src/app/api/proxy/route.ts
  src/app/error.tsx
  src/app/forbidden.tsx
  src/app/not-found.tsx
  src/app/signin/page.tsx
  src/app/unauthorized.tsx
  src/constants/index.ts
  src/features/auth/components/AuthPage.tsx
  src/features/auth/components/SignIn.tsx
  src/features/auth/components/index.ts
  src/hooks/useApiRequest.ts
  src/lib/auth/AuthRequired.tsx
  src/lib/auth/README.md
  src/lib/auth/index.ts
  src/lib/auth/middleware.ts
  src/lib/auth/session.ts
  src/lib/auth/tokenVerification.ts
  src/locales/en/auth.json
  src/locales/en/common.json
  src/locales/ja/auth.json
  src/locales/ja/common.json
  src/middleware.ts
  src/utils/README.md
  src/utils/serverApi.ts
Due: biome-check, type-check

TODO追加
  README.md
Due: none

トークンリフレッシュの冗長性を解除
  README.md
  src/app/api/proxy/route.ts
  src/lib/auth/AuthRequired.tsx
  src/lib/auth/jwtCookie.ts
Due: biome-check, type-check

言語切り替え時のフォント切り替えを追加
  .vscode/cspell.json
  README.md
  src/app/layout.tsx
  src/components/atoms/DynamicFont/index.tsx
  src/lib/i18n/README.md
  src/lib/i18n/font-settings.ts
  tailwind.config.js
Due: biome-check, type-check

ハードコーディングされていた文言を翻訳ファイルを使うように修正
  README.md
  src/app/(authenticated)/page.tsx
  src/app/forbidden.tsx
  src/app/not-found.tsx
  src/app/signin/page.tsx
  src/app/unauthorized.tsx
  src/components/atoms/LoadingOverlay/LoadingOverlay.tsx
  src/features/auth/components/LogoutButton.tsx
  src/features/auth/components/LogoutButtonAdvanced.tsx
  src/features/auth/pages/SignInPage.tsx
  src/features/dashboard/components/DashboardPage.tsx
  src/lib/i18n/server.ts
  src/locales/en/common.json
  src/locales/ja/common.json
Due: biome-check, type-check

バリデーション用のライブラリを追加
  package.json
  pnpm-lock.yaml
Due: biome-check

type-checkのコマンドを追加
  package.json
Due: biome-check

確認用のモックサーバー作成まで
  .env.example
  .vscode/cspell.json
  .vscode/launch.json
  BACKEND_AUTH.md
  LANGUAGE_GUIDE.md
  README.md
  package.json
  pnpm-lock.yaml
  server/index.js
  src/app/(authenticated)/page.tsx
  src/app/api/proxy/route.ts
  src/constants/index.ts
  src/features/auth/actions/SignOut.ts
  src/features/dashboard/components/DashboardPage.tsx
  src/lib/auth/AuthRequired.tsx
  src/lib/auth/README.md
  src/lib/auth/index.ts
  src/lib/auth/jwt.ts
  src/lib/auth/jwtCookie.ts
  src/lib/i18n/README.md
  src/lib/i18n/font-settings.ts
  src/utils/serverApiProxy.ts
  tailwind.config.mjs
Due: biome-check, type-check

ログインできなかったものを修正
  README.md
  package.json
  pnpm-lock.yaml
  server/index.js
  src/app/api/proxy/route.ts
Due: biome-check, type-check

ホットリロードが効いていなかったものを修正
  package.json
Due: biome-check

設定ファイルのファイル名などを見直し
  .npmrc
  next.config.ts
  package.json
  pnpm-workspace.yaml
  postcss.config.cjs
  postcss.config.mjs
  tailwind.config.ts
Due: biome-check, type-check

プロキシーの処理の改善
  package.json
  pnpm-lock.yaml
  src/app/api/proxy/route.ts
  src/utils/env.ts
Due: biome-check, type-check

Express.jsの起動方法を変更
  .vscode/cspell.json
  .vscode/launch.json
  package.json
  pnpm-lock.yaml
  server/index.js
Due: biome-check

README関連を書き換え
  .github/.instructions.md
  README.md
  src/utils/README.md
Due: none

Next.jsのクライアント側のデバッグ設定追加
  .vscode/launch.json
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
